$bg-main: rgb(226, 226, 226);
$shadow: 0px 0px 10px -1px rgba(66,66,66,1);

//colours
$yellow: rgb(255, 251, 24);
$blue: rgb(41, 106, 226);
$pink: rgb(250, 62, 119);
$green: rgb(20, 187, 20);

$font: 'Limelight', serif, cursive;

//font size
$fs-header: 2.5em;
$fs-title: 1.5em;
$fs-par: 1em;
