.login_form{
    text-align: center;
    width: 100%;
    form{
        background-color: $nav-color;
        width: 50%;
        font-size: 1.5em;
        margin: 0 auto;
    }
    input{
        display: block;
        margin: 10px auto;
    }
}